<?xml version="1.0"?>
<config>
    <modules>
        <WeLoveCustomers_Connector>
            <version>1.0.1</version>
        </WeLoveCustomers_Connector>
    </modules>
    <global>
        <models>
            <wlc_connector>
                <class>WeLoveCustomers_Connector_Model</class>
                <resourceModel>wlc_connector_resource</resourceModel>
            </wlc_connector>
            <wlc_connector_resource>
                <class>WeLoveCustomers_Connector_Model_Resource</class>
            </wlc_connector_resource>
        </models>
        <blocks>
            <wlc_connector>
                <class>WeLoveCustomers_Connector_Block</class>
            </wlc_connector>
        </blocks>
        <helpers>
            <wlc_connector>
                <class>WeLoveCustomers_Connector_Helper</class>
            </wlc_connector>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <WeLoveCustomers_Connector before="Mage_Adminhtml">WeLoveCustomers_Connector_Adminhtml</WeLoveCustomers_Connector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <WeLoveCustomers_Connector>
                    <files>
                        <default>WeLoveCustomers_Connector.csv</default>
                    </files>
                </WeLoveCustomers_Connector>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <wlc_connector>
                    <file>wlc_connector.xml</file>
                </wlc_connector>
            </updates>
        </layout>
    </frontend>
</config>